{
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "eslint-plugin-import"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "consistent-return": "off",
    "import/extensions": [
      "error",
      {
        "js": "always"
      }
    ],
    "max-len": [
      "warn",
      250
    ],
    "no-param-reassign": "off",
    "no-plusplus": [
      "off",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "quotes": ["error", "single"],
    "radix": [
      "error",
      "as-needed"
    ]
  },
}
