.zA.bundle-wrapper {
  .label-link {
    .bundle-count {
      font-weight: 400;
      margin-left: 5px;
    }
  }

  //important-indicator-column
  .WA {
    &.hide-important-markers {
      display: none;
    }
  }

  //body-column
  .a4W {
    padding-right: 30px;

    .bundle-senders {
      color: #202124;
    }
  }

  //unread row
  &.zE .label-link,
  .bundle-senders span.strong {
    font-weight: 700;
  }

  .bq4 .show-emails {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/expand_more_black_20dp.png');
    background-size: contain;
    transition: 0.5s all;
  }

  &:hover {
    //date-column
    .xW {
      display: none;
    }

    //action-buttons-column
    .bq4 {
      display: flex;
    }
  }

  &.btb {
    position: sticky;
    top: 0;
    z-index: 2 !important;
  }

  &[data-show-emails='false'] {
    .show-emails {
      transform: rotate(90deg);
    }
  }
}

[data-pane='bundle'] .zA.btb[data-previewing] {
  top: 44px !important;
}
