body.dark-mode,
html[data-darkreader-scheme='dark'] {
  //background-container
  .vI8oZc.yL {
    //background
    .wl {
      background: #222;
    }
  }

  .AO .bGI.nH.oy8Mbf .Nr.UI.Nf.vy .Nu.tf.aZ6 .ae4 .Cp .F.cf.zt tbody .time {
    color: #ccc;
  }

  .aeN {
    background-color: rgb(0, 0, 0);
  }

  .zA {
    color: rgba(255, 255, 255, 1);

    &.yO {
      background-color: rgba(25, 25, 25, 1);
    }

    &.zE {
      background-color: rgba(0, 0, 0, 1);
    }

    .avatar {
      background: url('chrome-extension://__MSG_@@extension_id__/images/btw_ic_speeddial_reminders_white_24dp_2x.png');
    }

    &.bundle-wrapper {
      .bq4 .show-emails {
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/expand_more_white_20dp.png');
      }

      //body-column
      .a4W {
        .bundle-senders {
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    //body-text
    .y2:not(.bundle-senders) {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .AO .bGI.nH.oy8Mbf[data-pane='bundle'] {
    background-color: rgb(75, 75, 75);
  }
}

@-moz-document url-prefix() {
  body.dark-mode {
    .avatar {
      background: url('moz-extension://__MSG_@@extension_id__/images/btw_ic_speeddial_reminders_white_24dp_2x.png');
    }
  }
}
