//preview-pane
.Nu.S3.aZ6 {
  overflow: auto;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.24);
  margin-left: 1px;
  width: calc(100% - 2px);
  height: auto !important; //need !important to override inline styles

  &:not(.show-preview) {
    display: none;
  }

  //preview-pane-container
  .ao8 {
    width: auto !important;
  }

  //email-subject-header
  .if > .byY {
    padding-left: 20px;
  }

  //email-body
  .ii.gt {
    padding-right: 56px;
  }

  //email-container
  .nH.if {
    //bottom-spacer
    .nH.aE0 {
      padding-bottom: 0 !important;
    }
  }
}

//preview-pane-separator
.Nf .Nt {
  display: none;
}

//email-container
.Bs.nH.iY.bAt {
  margin: 2px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  width: auto;

  //subject-container
  .byY {
    padding: 20px 4px 8px 20px;

    //subject-text-container
    .ha {
      //labels-container
      .J-J5-Ji {
        display: none;
      }
    }
  }

  //body-container
  .aHU {
    //header-container
    .gE {
      //email-header
      .iw {
        //email-address
        .go {
          display: none;
        }
      }
    }

    //email-body
    .ii.gt {
      padding-right: 56px;
    }
  }

  //spacer(?) cell in the email table
  .Bu.yM {
    display: none;
  }
}
