/* Override narrow width class */
//email-list-container
.ae4.Zs {

  //email-row
  .zA {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

    //subject-column
    .a4W {
      margin-left: unset;
      margin-right: 20px;

      //subject-text-container
      .xT {
        flex-wrap: unset;
      }

      //label-indicator-container
      .yi {
        margin-left: 0;
        max-width: unset;
      }

      //subject-text
      .y6 {
        order: 1;
      }

      //body-text
      .y2 {
        min-width: unset;
        -webkit-flex: 1;
        flex: 1;
      }
    }

    //sender-column
    .yX {
      flex: initial;
    }

    //date-column
    .xW {
      -webkit-flex-basis: 1;
      flex-basis: 1;
      flex-grow: 400;
      flex-basis: 0;
    }

    //email-column
    .xY {
      order: 1;
    }
  }
}
