//left-sidebar
.aeN {

  //collapsed
  &.bhZ {

    // below will hide the collapsed left-hand nav entirel
    // transform: translateX(-80px) !important;
    // transition: transform 0.2s ease;
    //compose-container
    .aic {
      // expanding the left nav regenerates the compose button
      // we move it in the DOM, so hide this extra one if it somehow comes back
      display: none;
    }
  }

  //mail button
  .V6.CL.W9 {
    display: none;
  }

  //left-container
  .ajl.aib .wT {

    //inner-container
    .n3 {

      //menu-grouping
      .TK {
        padding: 8px 0;
        border-bottom: 1px solid rgb(221, 221, 221);

        //menu-item-container
        .aim {

          //menu-item
          .TO {
            border-radius: 2px;

            //item-container
            .TN {
              height: 40px;

              //item-text
              .nU {

                //item-link
                .n0 {
                  font-weight: normal;
                }

                [href="#archive"] {
                  background-image: url('chrome-extension://__MSG_@@extension_id__/images/ic_done_clr_24dp_r4_2x.png') !important;
                }
              }

              //item-counts
              .bsU {
                display: none;
              }
            }

            //active-item
            &.nZ {

              //item-link
              .TN .nU .n0 {
                font-weight: bold;
              }
            }
          }
        }

        &.main-menu .aim .TO .TN {
          height: 50px;
        }
      }
    }
  }
}
