//toolbar
.D.E.G-atb {
  padding: 0;

  &::before {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  //with-filter-bar
  &.PY {
    height: 48px;
    display: flex;
  }

  //filter-bar
  .G6 {
    display: none;
  }

  //toolbar-left
  .Cq.aqL {
    margin-left: auto;
    margin-right: -24px;
  }

  //toolbar-right
  .Cr.aqJ {
    margin-left: 0px;
    margin-right: 0px;
  }
}
