.time {
  color: #666;
  font-size: 13px;
  padding-top: 16px;
  padding-left: 4px;
  padding-bottom: 8px;
}

.time-row:first-child .time {
  padding-top: 0;
}

//email-rows, bundle-rows
.zA,
.zA:hover {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  z-index: inherit;
}

//email-rows, bundle-rows
.zA {
  padding: 12px 10px;

  &.tr:first-child {
    // add margin so screen doesn't jump while we're figuring out time-rows
    margin-top: 23px;
  }

  .oZ-x3 {
    padding: 0;
    margin: 0 15px;
  }

  .avatar {
    left: -6px; //shift left to line up with the checkbox underneath it
    flex: 32px 0 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  &:hover .avatar {
    display: none;
  }

  //checkbox-column
  .oZ-x3 {
    //drag-indicator
    &:before {
      display: none;
    }

    //checkbox
    .T-Jo {
      margin-left: 1px;

      //checkbox-checked
      &.T-Jo-Jp.J-J5-Ji {
        display: inline;

        + .avatar {
          display: none;
        }
      }
    }
  }

  //important-indicator-column
  .WA {
    padding: 0;
  }

  // sender-column
  .yX {
    padding: 0 15px;
  }

  //subject-column
  .a4W {
    margin-left: 15px;
    //inline-label
    .ar {
      height: 22px;
      border-radius: 2px;

      //inline-label-text
      .av {
        padding-top: 2px;
      }
    }
  }

  //snoozed-until-column
  .byZ {
    //snoozed-until-text
    .cL {
      font-weight: normal;
    }
  }

  //action-buttons-column
  .bq4 {
    //action-buttons-list
    .bqY {
      //make room for the pin
      position: relative;
      left: -10px;

      //action-button-item
      .bqX {
        margin: 0 10px;

        //delete-button
        &.bru {
          order: 2;
        }

        //archive-button
        &.brq {
          order: 3;
          // make space for the pin button
          margin-right: 22px;
        }
      }
    }
  }

  //pin-star-column
  .apU {
    display: block;
    position: absolute;
    right: 0px;
    margin-right: 2px;

    //pin-icon
    .aXw {
      display: none;
    }

    > .T-KT::after {
      transform: scale(1);
    }
  }

  //attachment-column
  .yf {
    img {
      display: none;
    }
  }

  //this is also holding the list of senders in a bundle
  //date-column
  .xW {
    //make room for the pin icon
    margin-left: -32px;
    margin-right: 10px;
  }

  //option on the body
  .show-avatar-enabled & {
    //checkbox-column
    .oZ-x3 {
      //checkbox
      .T-Jo {
        display: none;
      }
    }
  }

  &[data-inbox='bundled'] {
    display: none;
  }

  // row-hovered
  &.aqw {
    //checkbox-column
    .oZ-x3 {
      //checkbox
      .T-Jo {
        display: inline;
      }
    }

    //pin-star-column
    .apU {
      //pin-icon
      .aXw {
        display: flex;
      }
    }
  }

  //keyboard-selected-email
  &.btb {
    padding-left: 4px;
    z-index: 2;

    &[data-previewing] {
      position: sticky;
      top: 0;
      z-index: 1;
      box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12);
      [data-pane='bundle'] & {
        top: 0;
      }
    }

    //keyboard-focus-indicator
    .PF.xY.PE {
      //keeps the avatar aligned
      margin-left: -5px;
      margin-right: 10px;
    }
  }
}
