.bundle-wrapper {
  .ms-Persona-imageArea {
    width: 28px;
    height: 28px;

    .ms-Persona-initials {
      text-align: center;
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      font-size: 10px;
      font-weight: 600;
      line-height: 28px;
      height: 28px;
    }
  }

  [aria-checked='false'] .ms-Checkbox {
    display: none;
  }

  &:hover,
  [aria-checked='true'] {
    .fui-Avatar,
    .ms-Persona-coin {
      display: none;
    }

    .ms-Checkbox {
      display: block;
    }
  }

  &[data-show-emails='true'] {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &.bundle-unread {
    .gMkyO,
    .bundle-senders {
      font-weight: 600;
    }
  }

  .label-link {
    border: 1px solid;
    padding: 2px 12px;
    display: inline-block;
  }

  // from column
  .jHAG3 {
    padding-left: 32px;
  }
}
