//email row
.jGG6V {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 4px;

  &[data-previewing='true'] {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &[data-inbox='bundled'] {
    display: none !important;
  }

  &[data-inbox='show-bundled'] {
    width: calc(100% - 24px);
    margin: 0 auto;

    &[data-previewing='true'] {
      top: 36px;
    }
  }

  &[data-icon='reminder'] {
    .ms-Persona-coin {
      background: url(https://res.cdn.office.net/todo/publicIcons/todo-metaos-32.png);
      background-size: 28px;

      .ms-Persona-initials {
        display: none;
      }
    }

    // email subject
    .FqgPc {
      display: none;
    }
  }

  &.bundle-last-email:not([data-previewing='true']) {
    margin-bottom: 12px;
  }

  // inner container

  .bundle-senders {
    text-overflow: ellipsis;
    overflow: auto;
    white-space: nowrap;
  }

  //subject container
  .dTBo0 {
    max-width: unset !important;
  }

  // pin/unread buttons container
  .gaDEX button {
    margin-bottom: 0;
  }

  // archive button container
  .QpoLy {
    align-items: center;
    height: 36px;

    button {
      background-color: transparent;
      color: unset;
      width: 24px;
      height: 24px;

      i {
        margin: 0;
      }
    }

    &:hover button {
      background-color: var(--neutralLight);
    }
  }
}
