html[dir='ltr'] {
  body {
    //main inbox element, has data-max-width on it
    .q9iRC {
      .G8_Dc {
        overflow-y: auto;
        height: auto;
      }

      // element directly inside of data-max-width
      .HOVUa {
        max-width: 2400px;
        width: calc(100% - 80px);
        margin: 0 auto;

        //wrapper around email list and preview pane
        .G8_Dc {
          //main email list
          .XW2m0 {
            min-height: calc(100% - 41px);
            max-height: unset;
            height: auto;
            border: none;
            display: flex;
            background-color: transparent;
            box-shadow: none;
            overflow: visible;
            visibility: visible;
            z-index: 10;
            pointer-events: none;

            // email columns container
            .s8wta {
              display: flex;
              button:nth-child(4) {
                flex-grow: 1;
              }
              button:nth-child(6) {
                text-align: right;
                padding-right: 44px;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                i {
                  padding-right: 4px;
                }
              }
            }

            // background covering the email preview
            .X4w2q {
              background: transparent;
            }

            //email list scroll container
            .jEpCF {
              padding-left: 0;
              height: unset !important;
              width: unset !important;
              scrollbar-gutter: auto;
              overflow: visible !important;
              max-height: 400vh;
              background: transparent;

              //email rows container
              > div {
                display: flex;
                height: unset !important;
                flex-direction: column;
                position: initial;
                > div {
                  position: unset !important;
                  &.bundle-expanded {
                    position: sticky !important;
                    top: 0;
                    z-index: 10;
                  }
                }
              }
            }

            .Cz7T5,
            .ONAp_ {
              overflow: visible;
              background: transparent;
            }

            // email column headers
            > div:nth-child(2) {
              box-shadow: rgb(0 0 0 / 24%) -2px -2px 4px;
              padding: 0 !important;
            }

            //time rows
            [id^='groupHeader'] {
              padding-left: 16px;
              font-size: 12px;
            }
          }

          @import './email-row';
          @import './bundle';
          @import './email-preview';

          .bundle-preview-placeholder {
            padding: 0 12px;
          }

          //archived notification
          .HqtOc {
            position: fixed;
            background: transparent;
            left: 0;
          }

          .ms-Spinner {
            position: fixed;
            background: transparent;
            left: calc(50vw - 30px);
          }
        }
      }
    }
  }
}
