//email row
.EeHm8 {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 4px;

  .gDC9O,
  .jGG6V {
    pointer-events: all;
    &[data-previewing='true'] {
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }

  &[data-inbox='bundled'] {
    display: none !important;
  }

  &[data-inbox='show-bundled'] {
    width: calc(100% - 24px);
    margin: 0 auto;

    .gDC9O,
    .jGG6V {
      &[data-previewing='true'] {
        top: 36px;
      }
    }
  }

  &[data-icon='reminder'] {
    .fui-Avatar {
      background: url(https://res.cdn.office.net/todo/publicIcons/todo-metaos-32.png);
      background-size: 28px;

      img,
      .fui-Avatar__initials {
        display: none;
      }
    }

    .uu6rV, // expand emails button
    .FqgPc // email subject
    {
      visibility: hidden;
    }
  }

  &.bundle-last-email:not([data-previewing='true']) {
    margin-bottom: 12px;
  }

  // inner container

  .bundle-senders {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  //subject container
  .dTBo0 {
    max-width: unset !important;
  }

  // date container
  .WP8_u {
    justify-content: right;
    span {
      text-align: right;
    }
  }

  // pin/unread buttons container
  .gaDEX button {
    margin-bottom: 0;
  }

  // archive button container
  .QpoLy {
    align-items: center;
    height: 36px;

    button {
      background-color: transparent;
      color: unset;
      width: 24px;
      height: 24px;

      i {
        margin: 0;
      }
    }

    &:hover button {
      background-color: var(--neutralLight);
    }
  }
}
