@import 'email-list';
@import 'dark-mode';

#app {
  #LeftRail {
    display: none;
  }

  // same level as #LeftRail
  .gU1Tf {
    width: 100%;

    .q58ff {
      width: 100%;
    }

    //wrapper around the TopBar with file menu and the ribbon
    .p8iVF {
      height: 43px;

      #TopBar {
        position: absolute;
      }
      #BottomBar {
        margin-left: 50px;
      }
    }

    // moved bar with filter and select all
    .bkYAr {
      border-bottom: none;
      background: transparent;
      position: absolute;
      pointer-events: all;
      top: -5px;
      left: 20px;

      // copilot "Your morning briefing" card
      .DBn2N {
        display: none;
      }

      // inner container in Inbox bar
      .rEzfP {
        padding: 0;

        // another container in Inbox bar
        .brFj8 {
          height: 40px;
          margin-bottom: 0;
        }

        // Inbox span
        .vlQVl {
          display: none;
        }

        // enable checkboxes button
        .ac0xq {
          display: none;
        }
        // select all container
        .ZYym6 {
          margin: 0;
          height: 40px;
          visibility: visible;

          [role='checkbox'] {
            margin-left: 0;

            &:hover {
              background-color: var(--neutralLight);
            }
          }

          [role='button'] {
            border-radius: 0;

            &:hover {
              background-color: var(--neutralLight);
            }
          }
        }
        // set favorite (star) container
        .IG8s8 {
          display: none;
          margin: 0 !important;
          padding: 0;
        }
        // filter container
        .p4pwT {
          display: none;
        }
      }
    }

    #outerRibbonContainer {
      padding: 0;
    }

    // may not be needed with outlook updates
    .ms-CommandBar:not(.bsTYb) {
      padding: 0;
      min-width: 200px;
      justify-content: space-between;

      // border-bottom: 1px solid var(--neutralLight);
      .ms-CommandBar-primaryCommand {
        flex-grow: 0;
        margin-right: 4px;

        .TAtn8 {
          width: auto;
          height: 44px;

          button {
            height: 34px;
            margin-top: 5px;
            margin-right: 0;
            border-radius: 0;
          }
        }

        .UhijP {
          position: fixed;
          bottom: 12px;
          right: 12px;
          z-index: 1000;
          padding: 8px;
          height: auto;

          .ms-Button-textContainer {
            display: none;
          }

          i {
            font-size: 36px;
          }
        }
      }

      .ms-CommandBar-secondaryCommand {
        .ms-OverflowSet-item {
          display: none;
        }
      }
    }
  }
}
